[Unit]
Description=Создавать бэкап каждый день в 22:00

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backupctl backup
ExecStartPost=/usr/local/bin/backupctl prune
